body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.addfile{
  width: 100%;
  display: flex;
  justify-content: center;
}
input{
margin: 20px;
  display: block;
  
}
textarea{
  padding: 20px;
  margin: 20px;
  display: block;
 
}
.description{
  width: 20%;
  padding: 20px;
margin: auto;
font-size: 1.2rem;
font-weight: 700;
}